/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #c3c2c2 inset;
  -webkit-text-fill-color: #c3c2c2;
}

button::-moz-focus-inner{
    border: 0;
} 

*{
    outline: 0 !important;
} 

/* Fonts */

@font-face {
    font-family: 'CaviarDreams';
    src: url('/assets/fonts/CaviarDreams/CaviarDreams.eot');
    src: url('/assets/fonts/CaviarDreams/CaviarDreams.eot') format('embedded-opentype'), url('/assets/fonts/CaviarDreams/CaviarDreams.woff2') format('woff2'), url('/assets/fonts/CaviarDreams/CaviarDreams.woff') format('woff'), url('/assets/fonts/CaviarDreams/CaviarDreams.ttf') format('truetype'), url('/assets/fonts/CaviarDreams/CaviarDreams.svg#CaviarDreams') format('svg');
}

@font-face {
    font-family: 'MuseoSansCyrl_0';
    src: url('/assets/fonts/MuseoSansCyrl_0/MuseoSansCyrl_0.eot');
    src: url('/assets/fonts/MuseoSansCyrl_0/MuseoSansCyrl_0.eot') format('embedded-opentype'), url('/assets/fonts/MuseoSansCyrl_0/MuseoSansCyrl_0.woff2') format('woff2'), url('/assets/fonts/MuseoSansCyrl_0/MuseoSansCyrl_0.woff') format('woff'), url('/assets/fonts/MuseoSansCyrl_0/MuseoSansCyrl_0.ttf') format('truetype'), url('/assets/fonts/MuseoSansCyrl_0/MuseoSansCyrl_0.svg#MuseoSansCyrl_0') format('svg');
}

    



