<footer>
    <div class="container">
        <!-- Row -->
        <div class="row">
            <div class="f-social-icons">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="#">
                    <i class="fa fa-youtube"></i>
                </a>
                <a href="#">
                    <i class="fa fa-pinterest"></i>
                </a>
            </div>
        </div>
        <!-- End row -->

        <!-- Row -->
        <div class="row">
            <div class="col-lg-4">
                <div class="stream">
                    <h4>Flickr stream</h4>
                    <div class="stream-imgs">
                        <a href="#">
                            <div class="s-img" style="background-image: url('../../assets/img/s1-min.jpg')"></div>
                        </a>
                        <a href="#">
                            <div class="s-img" style="background-image: url('../../assets/img/s2-min.jpg')"></div>
                        </a>
                        <a href="#">
                            <div class="s-img" style="background-image: url('../../assets/img/s3-min.jpg')"></div>
                        </a>
                        <a href="#">
                            <div class="s-img" style="background-image: url('../../assets/img/s4-min.jpg')"></div>
                        </a>
                        <a href="#">
                            <div class="s-img" style="background-image: url('../../assets/img/s5-min.jpg')"></div>
                        </a>
                        <a href="#">
                            <div class="s-img" style="background-image: url('../../assets/img/s6-min.jpg')"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="popular-posts">
                    <h4>Popular posts</h4>
                    <div class="posts">
                        <div class="post">
                            <div class="p-img" style="background-image: url('../../assets/img/p1-min.jpg')"></div>
                            <div class="p-info">
                                <a href="#" class="p-title">Vintage Photography of a Woman with Tools</a>
                                <a href="#" class="p-comment">
                                    <i class="fa fa-comments"></i> 12 comments
                                </a>
                            </div>
                        </div>
                        <div class="post">
                            <div class="p-img" style="background-image: url('../../assets/img/p2-min.jpg')"></div>
                            <div class="p-info">
                                <a href="#" class="p-title">Woman flinging her long dark Hair</a>
                                <a href="#" class="p-comment">
                                    <i class="fa fa-comments"></i> 23 comments
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="stay_in_touch">
                    <h4>Stay in touch</h4>
                    <!-- <form class="f-form" [formGroup]="form">
                        <input type="text" placeholder="Name">
                        <input type="email" placeholder="Email">
                        <button type="submit">Subscribe</button>
                    </form> -->
                </div>
            </div>
        </div>
        <!-- End row -->
    </div>
    <div class="footer-bottom-line">
        <div class="container">
            <div class="row">
                <div class="fbl-content">
                    <nav class="navbar">
                        <a href="#">Home</a>
                        <a href="#">Portfolio</a>
                        <a href="#">Sitemap</a>
                        <a href="#">Contact</a>
                    </nav>
                    <p class="copyright">
                        Darx @2017 by Denisoed | All Right Reserved
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>