<section class="register">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="register-user">
                    <h2>Registration</h2>

                    <!-- Block for info message -->
                    <div class="for-message">
                        <div [ngClass]="messageClass">
                            {{ message }}
                        </div>
                    </div>

                    <form [formGroup]="form" (submit)="onRegisterSubmit()">

                        <!-- Email input -->

                        <div>
                            <div class="box-input">
                                <input type="email" placeholder="Email" name="email" formControlName="email" (blur)="checkEmail()">
                                <ul class="help-block-warning">
                                    <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> This field is required
                                    </li>
                                    <li *ngIf="(form.controls.email.errors?.minlength || form.controls.email.errors?.maxlength) && form.controls.email.dirty">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Minimun characters: 5, Maximum characters: 30
                                    </li>
                                    <li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> This must be a valid email
                                    </li>
                                    <li *ngIf="emailMessage && !emailValid">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ emailMessage }}
                                    </li>
                                </ul>
                                <ul class="help-block-success">
                                    <li *ngIf="emailValid && !form.controls.email.errors">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Username input -->

                        <div>
                            <div class="box-input">
                                <input type="text" placeholder="Username" name="username" formControlName="username" (blur)="checkUsername()">
                                <ul class="help-block-warning">
                                    <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> This field is required
                                    </li>
                                    <li *ngIf="(form.controls.username.errors?.minlength || form.controls.username.errors?.maxlength) && form.controls.username.dirty">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Minimun characters: 3, Maximum characters: 15
                                    </li>
                                    <li *ngIf="form.controls.username.errors?.validateUsername && form.controls.username.dirty">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Username must not any have special characters
                                    </li>
                                    <li *ngIf="usernameMessage && !usernameValid">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ usernameMessage }}
                                    </li>
                                </ul>
                                <ul class="help-block-success">
                                    <li *ngIf="usernameValid && !form.controls.username.errors">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <!-- Password input -->

                        <div>
                            <div class="box-input">
                                <input type="password" placeholder="Pasword" name="password" formControlName="password">
                                <ul class="help-block-warning">
                                    <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> This field is required
                                    </li>
                                    <li *ngIf="(form.controls.password.errors?.minlength || form.controls.password.errors?.maxlength) && form.controls.password.dirty">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Minimun characters: 8, Maximum characters: 35
                                    </li>
                                    <li *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Must have all least one uppercase, lowercase, special characters, and number
                                    </li>
                                </ul>
                                <ul class="help-block-success">
                                    <li *ngIf="!form.controls.password.errors">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <!-- Confirm password input -->

                        <div>
                            <div class="box-input">
                                <input type="password" placeholder="Confirm password" name="confirm" formControlName="confirm">
                                <ul class="help-block-warning">
                                    <li *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> This field is required
                                    </li>
                                    <li *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password do not match
                                    </li>
                                </ul>
                                <ul class="help-block-success">
                                    <li *ngIf="!form.controls.confirm.errors">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <button [disabled]="!form.valid || !usernameValid || !emailValid" [ngClass]="{ 'register-valid': form.valid || usernameValid || emailValid, 'register-novalid': !form.valid || !usernameValid || !emailValid }" type="submit">
                            Register
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>