<section class="profile">
    <div class="container" *ngIf="user && userAllPosts">
        <div class="row">
            <div class="col-lg-4">
                <div class="about-me">
                    <img src="../../assets/img/avatars/{{ user.avatar }}" alt="User avatar" class="avatar">
                    <div class="about-me-info">
                        <h4 class="my-name">{{ user.firstname }} {{ user.lastname }}</h4>
                        <p class="desc">{{ user.aboutme }}</p>
                        <div class="sidebar-profile">
                            <button routerLink="/add-new-post" class="add-new-post">Add new post</button>
                            <ul class="info-my-posts">
                                <li><span>{{ userAllPosts.length }}</span>Posts</li>
                                <li><span>0</span>Likes</li>
                                <li><span>0</span>Dislikes</li>
                            </ul>
                        </div>
                        <h5 class="contact-info">Basic information</h5>
                        <ul class="contacts">
                            <li><span>Birthday: </span>{{ user.birthday.month }} {{ user.birthday.day }}, {{ user.birthday.year }}</li>
                            <li><span>Gender: </span>{{ user.gender }}</li>
                        </ul>

                        <h5 class="contact-info">Contact information</h5>
                        <ul class="contacts">
                            <li><span>Email: </span>{{ user.email }}</li>
                            <li><span>Phone: </span> {{ user.phone }}</li>
                            <li><span>State: </span> {{ user.state }}</li>
                            <li><span>Address: </span> {{ user.address }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <h2 class="my-posts-title">My posts</h2>
                <div class="my-posts">
                    <!-- Post  -->
                    <div class="post-item" *ngFor="let post of userAllPosts">
                        <div class="image-post" [ngStyle]="{'background-image': 'url(../../assets/img/posts/' + post.image + ')'}"></div>
                        <div class="info-post">
                            <div class="row">

                                <!-- Date and qnt comments -->
                                <div class="col-lg-2">
                                    <div class="date-comments">
                                        <div class="date">{{ post.createdAt.fullDate | date: 'dd' }} <span>{{ post.createdAt.month }}</span></div>
                                        <div class="comments">{{ post.comments.length }}</div>
                                    </div>
                                </div>

                                <!-- Info -->
                                <div class="col-lg-10">
                                    <a [routerLink]="['/post/', post._id]" class="post-title">
                                        <h3>{{ post.title }}</h3>
                                    </a>
                                    <div class="author_category">
                                        <span><i class="fa fa-user"></i> {{ post.createdBy }}</span>
                                        <a href="#"><i class="fa fa-bars"></i> {{ post.category }}</a>
                                    </div>
                                    <div class="update_and_delete">
                                        <button [routerLink]="['/edit-post/', post._id]" class="update-post">Update post</button>
                                        <button [routerLink]="['/delete-post/', post._id]" class="delete-post">Delete post</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- End post -->

                </div>
            </div>
        </div>
    </div>
</section>