<div class="sidebar-block latest-tweets">
    <h2 class="sidebar-block-title">Latest <span>tweets</span></h2>
    <!-- Tweet -->
    <div class="tweet">
        <i class="fa fa-twitter"></i>
        <div class="tweet-info">
            <div class="tweet-text">
                Download our latest Freebie and try it on your brand new website
            </div>
            <a href="https://www.google.com/">https://www.google.com/</a>
            <div class="createdAt">
                April 2, 2017 - 16:30
            </div>
        </div>
    </div>

    <!-- Tweet -->
    <div class="tweet">
        <i class="fa fa-twitter"></i>
        <div class="tweet-info">
            <div class="tweet-text">
                Download our latest Freebie and try it on your brand new website
            </div>
            <a href="https://www.google.com/">https://www.google.com/</a>
            <div class="createdAt">
                April 2, 2017 - 16:30
            </div>
        </div>
    </div>

</div>

<div class="sidebar-block popular-posts">
    <h2 class="sidebar-block-title">Popular <span>posts</span></h2>

    <div class="posts">

        <!-- Post -->
        <div class="post">
            <div class="p-img" style="background-image: url('../../assets/img/p1-min.jpg')"></div>
            <div class="p-info">
                <a href="#" class="p-title">Vintage Photography of a Woman with Tools</a>
                <span class="p-comment">
                      <i class="fa fa-comments"></i> 12 comments
                  </span>
            </div>
        </div>

        <!-- Post -->
        <div class="post">
            <div class="p-img" style="background-image: url('../../assets/img/p2-min.jpg')"></div>
            <div class="p-info">
                <a href="#" class="p-title">Woman flinging her long dark Hair</a>
                <span class="p-comment">
                      <i class="fa fa-comments"></i> 23 comments
                  </span>
            </div>
        </div>

    </div>

</div>

<div class="sidebar-block our-categories">

    <h2 class="sidebar-block-title">Our <span>categories</span></h2>
    <ul>
        <li class="c-title">
            Interviews <span>(5)</span>
            <ul class="c-dropbown">
                <li>Link1</li>
                <li>Link2</li>
                <li>Link3</li>
                <li>Link4</li>
            </ul>
        </li>
        <li class="c-title">
            Video and audio <span>(3)</span>
            <ul class="c-dropbown">
                <li>Link1</li>
                <li>Link2</li>
                <li>Link3</li>
                <li>Link4</li>
            </ul>
        </li>
        <li class="c-title">
            Photography <span>(8)</span>
            <ul class="c-dropbown">
                <li>Link1</li>
                <li>Link2</li>
                <li>Link3</li>
                <li>Link4</li>
            </ul>
        </li>
        <li class="c-title">
            News from around the World <span>(12)</span>
            <ul class="c-dropbown">
                <li>Link1</li>
                <li>Link2</li>
                <li>Link3</li>
                <li>Link4</li>
            </ul>
        </li>
        <li class="c-title">
            Other Stuff <span>(7)</span>
            <ul class="c-dropbown">
                <li>Link1</li>
                <li>Link2</li>
                <li>Link3</li>
                <li>Link4</li>
            </ul>
        </li>
    </ul>

</div>