<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="login-user">
                    <h2>Authorization</h2>
                    <form [formGroup]="form">
                        <input type="text" placeholder="Email">
                        <input type="password" placeholder="Password">
                        <input type="password" placeholder="Confirm password">
                        <button type="submit">
                    Login
                  </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>