<header>
    <div class="container">
        <div class="content">
            <a href="/" class="logo">
                Darx
            </a>
            <div class="info_and_nav">
                <div class="info">
                    <p class="phone">
                        Call us: +123 456 789 321
                    </p>
                    <div class="social-icons">
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-youtube"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-pinterest"></i>
                        </a>
                    </div>
                </div>
                <nav class="navbar">
                    <a routerLink="/" routerLinkActive="active" class="nav-active">Home</a>
                    <a routerLink="/news" routerLinkActive="active">News</a>
                    <a routerLink="/blog" routerLinkActive="active">Blog</a>
                    <a routerLink="/features" routerLinkActive="active">Features</a>
                    <a routerLink="/contact" routerLinkActive="active">Contact</a>
                    <a routerLink="/register" routerLinkActive="active">Register</a>
                    <a routerLink="/login" routerLinkActive="active">Login</a>
                    <a *ngIf="authService.loggedIn()" routerLink="/profile" routerLinkActive="active">Profile</a>
                    <a href="#" (click)="onLogoutClick()">Logout</a>
                </nav>
            </div>
        </div>
    </div>
</header>