/* --accent-color: #2096da; */


/* --white: #c7e5f6; */


/* --bg-color: #1b1b1c; */


/* --grey-color: #777777; */

header {
    width: 100%;
    min-height: 95px;
    background-color: #1b1b1c;
    border-bottom: 5px solid #2096da;
    display: flex;
}

header .content {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

header .content a,
p {
    margin: 0;
    font-family: 'CaviarDreams', sans-serif;
    text-decoration: none;
}

header .logo {
    color: #c7e5f6;
    font-size: 32px;
    padding: 22px;
    background-color: #2096da;
}

header .top-nav_and_nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end
}

header .top-nav{
    margin-top: 4px;
    display: flex;
    align-items: center;
}

/* Accont menu */
header .account-menu{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    position: relative;
}

header .account-menu_link{
    border-bottom: 2px solid #2096da;
    cursor: pointer;
}

header .account-menu_link span{
    color: #c7e5f6;
    font-size: 16px;
    font-family: 'MuseoSansCyrl_0', sans-serif;
}

header .account-menu_link .fa{
    color: #c7e5f6;
    font-size: 18px;
    margin-left: 6px;
}

header .account-menu_dropdown {
    background-color: rgba(39, 39, 39, 1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    position: absolute;
    top: 100%;
    left: 0;
}

header .account-menu_dropdown a{
    margin-top: 8px;
    cursor: pointer;
}

header .help-link a{
    font-size: 15px;
}

header .top-nav .reg-link {
    position: relative;
}

header .top-nav .reg-link::after{
    content: '';
    display: block;
    width: 1px;
    height: 15px;
    background-color: #c7e5f6;
    position: absolute;
    right: -2px;
    top: 4px;
    transform: rotate(15deg);
}   

header .top-nav a{
    color: #c7e5f6;
    padding: 0 8px;
}

header .top-nav .active{
    background-color: transparent;
    color: #2096da;
    font-weight: bold;
}


header .top-nav_and_nav .navbar {
    display: flex;
}

header .top-nav_and_nav .navbar a {
    color: #c7e5f6;
    padding: 8px 25px;
    box-sizing: border-box;
    font-size: 18px;
    text-transform: uppercase;
}

.active {
    background-color: #2096da;
}