<header>
    <div class="container">
        <div class="content">
            <a href="/" class="logo">
                Darx
            </a>
            <div class="info_and_nav">
                <div class="info">
                    <p class="phone">
                        Call us: +123 456 789 321
                    </p>
                    <div class="social-icons">
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-youtube"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-pinterest"></i>
                        </a>
                    </div>
                </div>
                <nav class="navbar">
                    <a href="#" class="nav-active">Home</a>
                    <a href="#">News</a>
                    <a href="#">Products</a>
                    <a href="#">Features</a>
                    <a href="#">Contact</a>
                </nav>
            </div>
        </div>
    </div>
</header>